<main id="open-option">
  <section>
    <figure>
      <img alt="logo-mottu" src="assets/logos/svg/mottu.svg" />
    </figure>

    <h1 class="mat-display-2">Serviço em Aberto</h1>
  </section>

  <section>
    <h3 class="mat-display-1">Você já possui um serviço de:</h3>
    <h3 class="color-text-mottu mat-display-1">"{{ optionDescription }}"</h3>
    <h3 class="mat-display-1">aberto deseja trocar?</h3>

    <button mat-flat-button color="primary" (click)="backToStart()">
      Fechar
    </button>
  </section>

  <section (click)="goToOptions()">
    <span class="mat-display-1">Avançar</span>
    <i class="fas fa-angle-right fa-2x"></i>
  </section>
</main>
