.bg-end {
  background-image: url(../../../../assets/backgrounds/svg/background-end.svg);
  background-position: 100% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-text-mottu {
  color: #00b131;
}

.mb-logo {
  margin-bottom: 1.5em;
}

.mt-article {
  margin-top: 5em;
}

.underline {
  text-decoration: underline;
}

.pr-1 {
  padding-right: 0.25em;
}

.confirm-button {
  font-size: 3em;
  width: 7em;
  height: 2em;
}
