<main id="confirm-option">
  <app-spinner *ngIf="spinner"></app-spinner>

  <section class="row d-flex flex-column align-items-center">
    <figure>
      <img alt="logo-mottu" src="assets/logos/svg/mottu.svg" />
    </figure>

    <h1 class="mat-display-2">Confirmar Serviço</h1>
  </section>

  <section class="section-service">
    <h3 class="pr-1 mat-display-2">Serviço:</h3>
    <h3 class="color-text-mottu mat-display-2">"{{ optionDescription }}"</h3>
  </section>

  <section class="section-button">
    <button
      mat-flat-button
      color="primary"
      class="confirm-button"
      (click)="confirmAttendance()"
    >
      Confirmar
    </button>
  </section>

  <section class="section-back" (click)="backToOptions()">
    <i class="fas fa-angle-left fa-2x pr-1"></i>
    <span class="mat-display-1">Voltar</span>
  </section>
</main>
