<main id="options">
  <app-spinner *ngIf="spinner"></app-spinner>

  <section>
    <h1 class="mat-display-2">Serviços</h1>
    <h3 class="mat-display-1">Olá, {{ userFirstName }}, escolha um serviço.</h3>
  </section>

  <section class="body-option-button" *ngFor="let option of options">
    <div class="icon-option-button">
      <i [ngClass]="option.icone" class="fa-4x"></i>
    </div>

    <div class="option-button" (click)="navigateToOptions(option)">
      <span class="mat-display-2">{{ option.descricao }}</span>
    </div>
  </section>

  <section class="footer-section">
    <span class="mat-display-1" (click)="backToStart()">Cancelar</span>
  </section>
</main>
