.clickable {
  cursor: pointer;
}

.bg-dark {
  background-color: #222222;
}

.bg-white {
  background-color: white;
}

.color-black {
  color: black;
}

.bl-radius {
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
}

.br-radius {
  border-top-right-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
}

.color-mottu {
  background-color: #1bd60b;
}

.pb-option-title {
  padding-bottom: 20em;
}

.w-option-icon {
  width: 10em;
}

.w-option-button {
  width: 40em;
}

.h-option-button-parent {
  height: 8em;
}

.underline {
  text-decoration: underline;
}

.mt-option {
  margin-top: 4em;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 4em;
}

.mb-title {
  margin-bottom: 0.5em;
}

.mb-last-article {
  margin-bottom: 15em;
}

.m-0 {
  margin: 0;
}

.ml-option {
  margin-left: 2em;
}
