#start {
  background-image: url('../../../../assets/backgrounds/svg/background-start.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 15em;
}

section {
  img {
    width: 10em;
  }

  h1 {
    margin-top: 0.5em;
    font-weight: bold;
  }
}

form {
  h4 {
    span {
      display: block;
      font-size: 1.8rem;
    }
  }

  display: flex;
  flex-direction: column;

  input {
    font-size: 1.8rem;
  }

  button {
    font-size: 1.2rem;
    padding: 0.5em;
  }
}

::ng-deep {
  .mat-form-field {
    .mat-input-element {
      color: white;
    }
    .mat-form-field-label {
      color: white;
    }
    .mat-form-field-underline {
      background-color: white;
    }
    .mat-form-field-ripple {
      background-color: white;
    }
    .mat-form-field-required-marker {
      color: white;
    }
  }
}
