<main id="quick-options">
  <app-spinner *ngIf="spinner"></app-spinner>

  <section>
    <h1 class="mat-display-2">Serviços Rápidos</h1>
    <h3 class="mat-display-1">Olá, João, escolha um serviço.</h3>
  </section>

  <section
    *ngFor="let option of options"
    (click)="goToConfirmOption(option)"
    class="body-option-button"
  >
    <div class="icon-option-button">
      <i [ngClass]="option.icone" class="fa-3x"></i>
    </div>
    <div class="option-button">
      <span class="mat-display-1">{{ option.descricao }}</span>
    </div>
  </section>

  <section class="footer-section" (click)="backToOptions()">
    <i class="fas fa-angle-left fa-2x"></i>
    <span class="mat-display-1">Voltar</span>
  </section>
</main>
