.clickable {
  cursor: pointer;
}

.bg-dark {
  background-color: #222222;
}

.bg-white {
  background-color: white;
}

.color-black {
  color: black;
}

.bl-radius {
  border-top-left-radius: 2.2em;
  border-bottom-left-radius: 2.2em;
}

.br-radius {
  border-top-right-radius: 2.2em;
  border-bottom-right-radius: 2.2em;
}

.color-mottu {
  background-color: #1bd60b;
}

.pb-option-title {
  padding-bottom: 4em;
}

.w-option-icon {
  width: 10em;
}

.w-option-button {
  width: 40em;
}

.underline {
  text-decoration: underline;
}

.h-option-button-child {
  height: 6em;
}

.pl-option {
  margin-left: 2em;
}

.mt-option {
  margin-top: 3em;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 4em;
}

.mb-title {
  margin-bottom: 0.5em;
}

.pr-1 {
  padding-right: 0.25em;
}

.fz-back {
  font-size: 3em;
}

.fz-option-child {
  font-size: 2.5em;
}
