<main class="container-fluid bg-end h-container pt-container color-white">
  <article class="row d-flex flex-column align-items-center">
    <figure>
      <img
        alt="logo-mottu"
        src="assets/logos/svg/mottu.svg"
        class="size-logo"
      />
    </figure>
    <h1 class="mat-display-4">Serviço Confirmado</h1>
  </article>

  <article class="row mt-article d-flex flex-column text-center">
    <h3 class="mat-display-3">Sua moto será levada para a<br />manutenção</h3>
    <section class="mt-article text-center">
      <button
        mat-flat-button
        color="primary"
        class="close-button"
        (click)="backToStart()"
      >
        Fechar
      </button>
    </section>
  </article>
</main>
