.bg-middle {
  background-image: url(../../../../assets/backgrounds/svg/background-middle.svg);
  background-position: 70% 80%;
}

.mt-5 {
  margin-top: 2em;
}

.mb-title {
  margin-bottom: 0.5em;
}

.size-qr-code {
  width: 30em;
  height: 30em;
}

.confirm-button {
  font-size: 3em;
  width: 7em;
  height: 2em;
}
