<main id="schedule">
  <section>
    <figure>
      <img alt="logo-mottu" src="assets/logos/svg/mottu.svg" />
    </figure>
  </section>

  <section>
    <h1 class="mat-display-2">Agende Pelo App</h1>
    <h3 class="mat-display-1">
      Percebemos que você não possuí <br />
      agendamento para fazer manutenção,<br />
      siga o passo a passo e agende um horário
    </h3>
    <h3 class="mat-display-1">
      logue no app > clique em <br />manutençao > siga os passos <br />do
      agendamento
    </h3>
  </section>

  <section>
    <button mat-flat-button color="primary" (click)="backToStart()">
      Concluir
    </button>
  </section>
</main>
