@import '/node_modules/angular-notifier/styles';

.h-container {
  height: 100vh;
}

.color-white {
  color: white;
}

.pt-container {
  padding-top: 20em;
}

.pt-title {
  padding-top: 10em;
}

.size-logo {
  width: 20em;
  height: 20em;
}
